/* Write your CSS here */
.bg-cnt {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
}
.app-store {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 85%;
  max-width: 1110px;
}
.search-cnt {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: transparent;
  width: 100%;
  max-width: 250px;
  border-radius: 4px;
  border: 1px solid #7b8794;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .search-input-container {
    max-width: 480px;
  }
}
.inputEle {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
  flex-grow: 1;
}

.searchImg {
  height: 20px;
  width: 20px;
}
.head {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 40px;
  margin-top: 64px;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .head {
    font-size: 48px;
    margin-top: 96px;
  }
}
.tabItem-cnt {
  display: flex;
  padding-left: 0px;
}
.appItem-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 0px;
  max-width: 900px;
}
